body {
    background-color: #fff;
    font-family: sans-serif;
}

.header {
    display: flex;
    align-items: center;
    margin: 20px 50px;
}

.header .header_logo {
    margin: 0 20px;
}

.header .header_logo img{
    width: 70px;
}

.header .header_nav {
    display: flex;
    flex-direction: row;
    margin: 20px 15px;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}

.header .header_nav nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.header nav ul li {
    border-right: 1px solid #e3e3e3;
    display: flex;
    align-items: center;
} 

.header nav ul li a {
    padding: 0 20px;
}

.header nav ul li a span {
    padding: 10px 0;
}

.header nav ul li a .header_button-repository {
    width: 30px;
}

.header nav ul li a .header_button-repository button span{
    width: 30px;
    font-size: 16px;
}